header#banner.navbar.navbar-default.navbar-fixed-top
  .container
    a.scrollable(href='#top')
     h1 HC
    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    nav#navbar.collapse.navbar-collapse(role='navigation')
      ul.nav.navbar-nav.navbar-right
        li
          a.scrollable(href='#top') About
        li
          a.scrollable(href='#education') Education
         li
          a.scrollable(href='#abilities') Abilities
         li
          a.scrollable(href='#footer-above') Contact
       
// end header
a#top(name='home')
main
  header
    .intro-text
      p
        |I'm an all-round Software Developer, with  good knowledge in front-end techniques. I am a motivated, self-driven developer who is passionate about developing and learning about new technologies.I like spending time on fixing little details and optimizing web apps. Also I like working in a team, you'll learn faster and more. As the saying goes: 'two heads are better than one'.
      hr.star-bright
      span.skill Web Developer - Software  Developer - Android App Developer
    img(src='https://docs.google.com/uc?id=0B0rjZxnZYOJiUU0xVWZUNy1GMnc', alt='My Photo')
  // Gallery Grid Section
  section#education
    h2 Education
    hr.star-dark
    div.eduleft
    
        h4 Fresno State University
        p.edutleftpara Aug 2015 - May 2016 
 
    div.eduright   
     
      h4.eduheader Bachelor - Computer Science
      p.edupara Course Highlights: Artificial Intelligence, Data Structures and algorithms, Finite Automata, Parallel Processing and Advance Web Programming
      a.edupara(href="https://goo.gl/maps/VmSkafRitF52") <i class="fa fa-map-marker" aria-hidden="true"></i> Fresno, California
      br
      
    div.eduleft
        h4 Vidyalankar School of 
        h4 Information Technology
        p.eduleftpara  Aug 2012 - May 2015
        
    div.eduright
   
        h4 Bachelor - Information Technology
        p.edupara Course Highlights: Web Designing, Project Management, Network Security, Software Testing, Data Warehousing, Linux Administration
        p.edupara Project: Created an Android application named Mobile finder which would help the user to locate the device, lock the device with a passcode and erase the contents remotely using messaging services.
        a.edupara(href="https://goo.gl/maps/eN3Y5MWoWc82") <i class="fa fa-map-marker" aria-hidden="true"></i> Mumbai, India

  
  // Contact Section
  section#abilities
    h2 Abilities
    hr.star-dark
    h6 Experiences
    div.expleft
      h4 Skynet Secure Solutions
      p.expleftpara Apr 2014 - Jul 2014
    div.expright
      h4.exprightheader Network Security Intern
      p.exprp Performed security engineering tasks such as implementing firewall changes; designing, configuring, testing, and maintaining network firewalls
      a.exprp(href="https://goo.gl/maps/rQA965cmJg72") <i class="fa fa-map-marker" aria-hidden="true"></i> Mumbai, India
      br
    h6 Skills
    div.skilllang
      h4 Languages:
    div.expright
      h4.exprightheader C++, Python, Java, C#, HTML5, CSS, JavaScript, MySQL
    div.skillframe
      h4 Frameworks:
    div.expright
      h4.exprightheader ASP.NET, Bootstrap
    div.skillsoft
      h4 Other Softwares:
    div.expright
      h4.exprightheader GitHub, Visual Studio, Selenium
    div.skillos
      h4 OS:
    div.expright
      h4.exprightheader Windows, Linux, Mac OS
  // Scroll to Top Button (Only supposed to be visible on small and small screen sizes)
  .scroll-top
    a.button.scrollable(href='#top')
      i.fa.fa-chevron-up
// Footer
footer
  #footer-above
    div
      h3 About this page
      p
        | Made by Harsh Chauhan
      p 
        |Email-id  harsh_chauhan@hotmail.com
       
    div
      h3 Connect with me 
      ul
        li
          a.button.social(href='https://www.linkedin.com/in/harsh-chauhan')
            i.fa.fa-fw.fa-linkedin
        li
          a.button.social(href='https://github.com/harsh-c')
            i.fa.fa-fw.fa-github
        li
          a.button.social(href='https://twitter.com/Harshchauhan94')
            i.fa.fa-fw.fa-twitter
        
     
  #footer-below
    | Harsh© 
    script.
      document.write(new Date().getFullYear())
    | . All Rights Reversed
// <aside id="html5badge"><img src="http://www.w3.org/html/logo/badge/html5-badge-v-css3-graphics-semantics.png" width="38" height="170" alt="HTML5 Powered with CSS3 / Styling, Graphics, 3D &amp; Effects, and Semantics" title="HTML5 Powered with CSS3 / Styling, Graphics, 3D &amp; Effects, and Semantics"></aside>
